.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mt-10 {
  margin-top: 100px;
}

.mb-10 {
  margin-bottom: 100px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.spe {
  border: 1px solid green;
  border-radius: 30px;
  color: green;
}

p span {
  margin-right: 5px;
}

p {
  font-size: 10px;
}

.circle {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.circle3x {
  background: #f00;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.circle2x {
  background: #f00;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.circle1x {
  background: #f00;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.rz {
  width: 60%;
}
